token: DZ1lJS3dZQkJRVUhBd0l3Ckh3WURWUjBqQkJnd0ZvQVVUSVZFTFFQV3lLbCtRaWdINnpPN2F0cmFZclV3Q2dZSUtvWkl6ajBFQXdJRFJ3QXcKUkFJZ01MQjZXVThxMlhFdFVnRWpOK0hqRnpWRVVwd0l3OHpHb3dMM01ZOS85aklDSUYrdHhnaz
cluster-cidr: 10.104.0.0/16
service-cidr: 10.105.0.0/16
cluster-dns: 10.105.0.10
data-dir: "/opt/rke2"
